/* Grid 
    Medidas a la cuadrícula
    se pueden dar medidas con cualquiera de las unidades ya conocemos y dos más
    que vienen con grid, fr y auto

    fr: Equivale a n fracciones del espacio disponible después de establecer
        las medidas fijas

    auto: equivale al espacio que quede después de preparar todos elementos,
          es el último que se reparte. El tamaño mínimo del item será el espacio
          del contenido + el padding si lo tuviera

    función repeat()
    Con la función repeat podemos establecer repeticiones de medidas o patrones.
    En el caso "simple" recibiría 2 parámetros (valores)
    repeat(nColumns, medida)

    grid-template-columns: repeat(4, 100px) es lo mismo que
    grid-template-columns: 100px 100px 100px 100px;

    Si como segundo valor añadimos más de una medida, construiremos un patrón,
    no hay límite de valores.

    grid-template-columns: repeat(2, 100px 50px 50px 100px;) es lo mismo que
    grid-template-columns: 100px 50px 50px 100px; 100px 50px 50px 100px;
*/
body {
  font-family: sans-serif;
  background-image: radial-gradient(circle, #b94bf8, #3a1957);
  background-repeat: no-repeat;
  margin: 0;
  color: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 40px 30% 30%; */
  /* grid-template-columns: 50px 2fr 1fr; */
  /* grid-template-columns: 100px 100px auto 100px; */
  /* grid-template-columns: repeat(3, 80px) 30px; */
  grid-template-columns: repeat(3, 60px 50px);
}

.grid-item {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}